<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Parser</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="Page_title">Resume Parser</div>
    <div class="container">
        <h1 class="heading">Upload Your Resume</h1>
        <form action="/parse_resume" method="post" enctype="multipart/form-data" class="form">
            <input type="file" name="resume" accept=".pdf" class="file-input">
            <button type="submit" class="submit-btn">Parse Resume</button>
        </form>
    </div>
</body>
</html>
